@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    background: #e9e9e9;
}

p{
    text-align: left;
    margin-left: 5in;
    margin-right: 5in;
    text-indent: 1in;
    font-size: 20px;
    line-height: 30px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

header{
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, .2);
}

.title{
    margin-left: 10px;
}

.nav-links{
    display: inline-flex;
    justify-content: left;
    width: 45%;
    font-size: 20px;
}

header li{
    list-style: none;
    display: inline;
    padding: 10px;
}

header a{
    color: black;
    text-decoration: none;
    transition-duration: 0.10s;
}

header a:hover{
    color: dimgrey;
}

.wh_title{
    text-align: center;
    font-size: 40px;
}

.nav-items li{
    list-style: none;
    display: inline-block;
    padding: 75px;
}

.nav-items a{
    text-decoration: none;
}

.wh_div{
    width: 300px;
    height: 300px;
    background-image: url(./img/whathappened/VeraCruz.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, .2);
    transition-duration: 0.25s;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    font-size: 0px;
    color: white;
}

.wh_div:hover{
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .3);
    -webkit-text-stroke: 1px white;
    font-size: 30px;
}

.j_div{
    width: 300px;
    height: 300px;
    background-image: url(./img/justified/TenochtitlanCapture.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, .2);
    transition-duration: 0.25s;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    font-size: 0px;
    color: white
}

.j_div:hover{
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .3);
    -webkit-text-stroke: 1px white;
    font-size: 30px;
}

.oe_div{
    width: 300px;
    height: 300px;
    background-color: blue;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, .2);
    transition-duration: 0.25s;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    font-size: 0px;
    color: white
}

.oe_div:hover{
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .3);
    -webkit-text-stroke: 1px white;
    font-size: 30px;
}

.e_div{
    width: 300px;
    height: 300px;
    background-color: brown;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, .2);
    transition-duration: 0.25s;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    font-size: 0px;
    color: white
}

.e_div:hover{
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .3);
    -webkit-text-stroke: 1px white;
    font-size: 30px;
}

.notice{
    text-align: center;
}