@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    background: #e9e9e9;
}

header{
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, .2);
}

.title{
    margin-left: 10px;
}

.nav-links{
    display: inline-flex;
    justify-content: left;
    width: 45%;
    font-size: 20px;
}

header li{
    list-style: none;
    display: inline;
    padding: 10px;
}

header a{
    color: black;
    text-decoration: none;
    transition-duration: 0.10s;
}

header a:hover{
    color: dimgrey;
}